USE [master]
GO
/****** Object:  Database [otoparksistemi]    Script Date: 7/5/2026 11:04:31 PM ******/
CREATE DATABASE [otoparksistemi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'otoparksistemi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\otoparksistemi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'otoparksistemi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\otoparksistemi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [otoparksistemi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [otoparksistemi]
GO
/****** Object:  Table [dbo].[AracGirisi]    Script Date: 7/5/2026 11:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AracGirisi](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Tcno] [int] NOT NULL,
	[Ad] [nchar](50) NOT NULL,
	[Soyad] [nchar](50) NOT NULL,
	[AracTipi] [nchar](50) NOT NULL,
	[AracSinifi] [nchar](50) NOT NULL,
 CONSTRAINT [PK_AracGirisi] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AracGirisi] ON 

INSERT [dbo].[AracGirisi] ([id], [Tcno], [Ad], [Soyad], [AracTipi], [AracSinifi]) VALUES (1, 1234, N'Ahmet                                             ', N'Yılmaz                                            ', N'Sedan                                             ', N'Orta Sınıf                                        ')
INSERT [dbo].[AracGirisi] ([id], [Tcno], [Ad], [Soyad], [AracTipi], [AracSinifi]) VALUES (2, 5678, N'Ayşe                                              ', N'Kaya                                              ', N'SUV                                               ', N'Lük Sınıf                                         ')
INSERT [dbo].[AracGirisi] ([id], [Tcno], [Ad], [Soyad], [AracTipi], [AracSinifi]) VALUES (3, 1234, N'Derya                                             ', N'Demir                                             ', N'Hatchback                                         ', N'Ekonomik Sınıf                                    ')
SET IDENTITY_INSERT [dbo].[AracGirisi] OFF
GO
USE [master]
GO
